@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    color: #000000;
    background-color: #Bac1c1;

}

/* Logo + Nav */
#logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    color: #008000;
}

.logo-home {
    text-decoration: none;
}

.nav li {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    color: maroon;
}

.nav li a:hover {
    border-bottom: solid 1px black;
}

.nav a {
    text-decoration: none;
}

.active {
    border-bottom: solid 1px black;
}


/* image and text */
.background-image {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;

    /*Animation*/
    animation-name: background-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Sets the animation level */
@keyframes background-zoom {
    from {
        transform: scale(0.97);
    }

    to {
        transform: scale(1);
    }
}

.image-text h1,
.image-text h2 {
    color: white;
}

.image-text {
    font-size: 72%;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 100px;
    height: 80px;

    padding-top: 40px;
    padding-left: 10px;
    background: transparent;
    left: 230px;
    top: 225px;
    position: absolute;
}

/*About Castlerea */
.about-h1,
.about-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-p {
    text-align: center;
}

.facilities-info h3 {
    text-decoration: underline;
}

.facilities-info {
    text-align: center;
}

/* footer */

.social-icons {
    display: flex;
    justify-content: center;
    background-image: url(/assets/images/pexels-pixabay-235985.jpg);
}

.social-icons li {
    font-size: 200%;
    padding: 5%;
    list-style: none;
}

.fa-facebook,
.fa-instagram-square,
.fa-twitter,
.fa-youtube {
    color: black;
}

/* Form */
#contact-form {
    background: url(/assets/images/pexels-craig-adderley-1563356.jpg);
    background-size: cover;
    height: 700px;
}

.form-heading {
    font-family: montserrat, sans-serif;
    text-align: center;
    font-weight: 900;
    text-decoration: white;
    color: white;
}

.text-input {
    border: solid black 1px;
    border-radius: 1.5px;
    display: block;
    align-self: center;
    background-color: grey;
    margin-left: 30%;
}

.form-text {
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin-left: 38%;

}

#age {
    background-color: grey;
    border: 1px solid black;
    margin-left: 40%;


}

.age-range {
    color: white;
    font-weight: 900;
    margin-left: 38%;
}