@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: montserrat, sans-serif;
    color: #000000;
    background-color: #Bac1c1;

}

/*************************************************** LOGO + NAV ******************************************************************/
#logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    color: #008000;
}

#logo a:hover {
    box-shadow: inset 200px 0 0 0 #cec791;
    color: maroon;
}

.logo-home {
    text-decoration: none;
    color: #005609;
}

.nav li {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    color: maroon;
}

.nav li a:hover {
    border-bottom: solid 1px black;
    box-shadow: inset 200px 0 0 0 #cec791;
    color: maroon;
}

.nav a {
    text-decoration: none;
    color:
        #005609;
}

.active {
    border-bottom: solid 1px black;
}


/************************************************ IMAGE AND TEXT *****************************************************************/
.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589665/Website%20Images/Home%20Page/castlerea-hero-image_nlh2kv.webp) no-repeat center center;


    /*Animation*/
    animation-name: background-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/************************* SETS THE ANIMATION LVEL (Inspired by Love Running) ********************/
@keyframes background-zoom {
    from {
        transform: scale(0.97);
    }

    to {
        transform: scale(1);
    }
}

.image-text h1,
.image-text h2 {
    color: black;
    text-align: center;
    margin-left: 0.5%;
}

.image-text {
    font-size: 72%;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 160px;
    max-height: 90px;
    background-color: #808283;
    top: 85%;
    left: 70%;
    position: absolute;
    opacity: 0.8;
}

/******************************************** ABOUT CASTLEREA ********************************************************************/
.about-h1 {
    display: flex;
    justify-content: center;
    margin-top: 1.5%
}

.about-h2 {
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
}

.info-1,
.info-2,
.info-3,
.info-4 {
    margin-left: 0.8%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

.about-p {
    text-align: center;
}

.link {
    color: #005609;
}

.golf-club-heading,
.clonalis-house-heading,
.walking-trails-heading,
.swimming-pool-heading {
    text-decoration: underline;
    margin-top: 3%;
    text-align: center;
}

.golf-club-heading,
.clonalis-house-heading,
.walking-trails-heading,
.swimming-pool-heading>.info-2,
.info-3,
.info-4 {
    margin-top: 3%;
}

.info-1 {
    margin-top: 3%
}


.golf-club {
    content: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589666/Website%20Images/Home%20Page/castlerea-golf-club_ta0xar.webp);
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.clonalis-house {
    content: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589666/Website%20Images/Home%20Page/clonalis-house_ogyrdy.webp);
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.walking-trails {
    content: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589665/Website%20Images/Home%20Page/castlerea-trails_zkomon.webp);
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.swimming-pool {
    content: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589665/Website%20Images/Home%20Page/castlerea-swimming-pool3_stsgzs.webp);
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}


/********************************************** FOOTER *************************************************************************/

.social-icons {
    display: flex;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1673821483/README%20Images/Gallery%20Photos/pexels-vlad-che%C8%9Ban-3018825_ero6s2.jpg);
    opacity: 0.7;
}

.social-icons li {
    font-size: 200%;
    padding: 5%;
    list-style: none;
}

.fa-facebook,
.fa-instagram-square,
.fa-twitter,
.fa-youtube {
    color: #008000;
}

.social-icons a:hover {
    box-shadow: inset 200px 0 0 0 maroon;
}

/******************************************************** GALLERY ****************************************************************/
#pictures {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}

#pictures>img {
    width: 100%;
    height: auto;
}



/************************************************** FORM *************************************************************************/
#contact-form {
    background: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589727/Website%20Images/Contact%20Page/castlerea-contact-img_t3ctpy.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.box-form {
    background-color: rgba(25, 30, 30, 0.8);
    max-width: 400px;
    position: absolute;
    top: 50%;
    

}

.form-heading {
    font-family: montserrat, sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
}

.text-input {
    border: solid black 1px;
    border-radius: 1.5px;
    align-self: center;
    background-color: #BAC1C1;
    display: flex;
    justify-content: center;
    margin-left: 23%;
}


.form-text {
    font-family: montserrat, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
}


#age {
    background-color: #BAC1C1;
    border: 1px solid black;
    margin-left: 32%;
}

.age-range {
    color: white;
    font-weight: 900;
    margin-left: 35%;
}

#submit {
    margin-left: 39%;
    margin-top: 2%;
    font-size: 1em;
    padding: 0% 3% 0% 3%;
}

/*********************************************** FORM SUBMISSION PAGE ***********************************************************/
.thanks-img {
    background: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589754/Website%20Images/Contact%20Form%20Page/castlerea-demense-form-submit_skvesl.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 3%;
}

.submit-text {
    font-size: 1.2em;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    height: 35%;
    color: white;
    padding-top: 5%;
    background-color: rgba(25, 30, 30, 0.8);
    top: 65%;
    text-align: center;
    position: absolute;
    opacity: 0.8;
}

/************************************************* 404 ERROR PAGE ***************************************************************/
.error-page {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background: url(https://res.cloudinary.com/dp9lxtk3y/image/upload/v1674589764/Website%20Images/404%20Error%20Page/404-image_wjtnof.webp) no-repeat center center;
}


.error-text {
    font-size: 1.7em;
    font-weight: 900;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    height: 40%;
    width: 70%;
    color: white;
    padding-top: 5%;
    background-color: rgba(25, 30, 30, 0.8);
    top: 45%;
    left: 14.5% !important;
    text-align: center;
    position: absolute;
    opacity: 0.8;
}

.error-text>a {
    color: #008000;
    font-size: 1.5em;
}

.error-text a:hover {
    color: #800000;
}

/****************************************** MEDIUM MOBILE BREAKPOINT ******************************************************************************/

@media only screen and (min-width: 376px) {

    /***************** CONTACT PAGE ***************/
    .form-heading {
        margin-left: 3%;
        font-size: 1.6em;
    }

    .text-input {
        margin-left: 28%;
    }

    .age-range,
    #age {
        margin-left: 38%;
    }
}


/************************************************ Large Mobile *******************************************************************/
@media only screen and (min-width: 545px) {

    /***************** CONTACT PAGE ***************/
    .box-form {
        left: 15%;
    }

    /**************** GALLERY PAGE **************/
    #pictures {
        column-count: 2;
    }

    /******************** 404 ERROR PAGE ************/
    .error-text {
        font-size: 2.5em;
    }

}


/************************************************** SMALL TABLET BREAKPOINT***********************************************************/
@media only screen and (min-width: 545px) {

    /********************** GALLERY PAGE ***************/
    .church-img {
        height: 16% !important;
    }

    .lights-img {
        height: 14.3% !important;
    }

    /********************** CONTACT PAGE ****************/

    .submit-text {
        margin-left: 0.7%;
        margin-right: 0.7%;
    }

    .thanks-img {
        margin-top: 1%;
    }
}

/*************************************************** TABLET BREAKPOINT ***********************************************************/
@media only screen and (min-width: 768px) {

    /***************** HOME PAGE ***************/
    .image-text {
        font-size: 0.7em;
        left: 86%;
        top: 75%;
    }

    #logo {
        display: flex;
        justify-content: center;
    }


    .nav {
        display: flex;
        justify-content: center;
    }

    .info-3,
    .info-4 {
        margin-top: 1%
    }

    .info-1,
    .info-2 {
        margin-top: 1%;
    }


    .golf-club,
    .clonalis-house {
        width: 50%;
        height: 15%;
        display: flex;
        justify-content: right;
        margin-top: -2%;
        margin-left: 0.5%
    }

    .walking-trails,
    .swimming-pool {
        width: 50%;
        height: 15%;
        display: flex;
        justify-content: right;
        margin-top: 4.5%;
        margin-left: 0.5%
    }

    .info-1,
    .info-2,
    .info-3,
    .info-4 {
        display: flex;
        justify-content: left;
        font-size: 1.6em;
        margin-left: 1%;
    }

    .golf-club-heading,
    .clonalis-house-heading,
    .walking-trails-heading,
    .swimming-pool-heading {
        margin-left: -50%;
        font-size: 2em;
        margin-top: -0.5%;
    }

    .info-1,
    .info-3 {
        margin-bottom: 3%;
    }

    .info-4 {
        margin-bottom: 2%;
    }

    .blank-text {
        margin-top: 5%;
    }

    /***************** GALLERY PAGE ***************/
    #pictures {
        column-count: 3;
    }

    .mainst-img {
        height: 25.7% !important;
    }

    .scenery-img {
        height: 14.4% !important;
    }

    .lights-img {
        height: 21.5% !important;
    }


    /***************** CONTACT PAGE ***************/
    .form-heading {
        padding-top: 10%;
    }

    .text-input {
        margin: auto;
        align-items: center;
    }

    #submit {
        margin-left: 40%;
    }

    .box-form {
        left: 25%;
    }

    /****************** FORM SUBMIT PAGE ***************/
    .submit-text {
        font-size: 2em;
        top: 50%;
    }

    .thanks-img {
        margin-top: 1%;
    }

    /****************** 404 ERROR PAGE *****************/
    .error-text {
        font-size: 3em;
        left: 10%;
        top: 32%;
    }

}

/************************************************* Large Tablets *****************************************************************/
@media only screen and (max-width: 1164px) {

    /***************** HOME PAGE ***************/
    .image-text {
        left: 2%;
    }

}

/************************************************* LAPTOP BREAKPOINT **************************************************************/
@media only screen and (min-width: 1280px) {

    /***************** HOME PAGE ***************/
    .image-text {
        left: 85%;
        top: 75%;
    }

    .image-text h1,
    .image-text h2 {
        margin-left: 1%;
    }


    #logo {
        display: flex;
        justify-content: center;
    }

    .nav {
        display: flex;
        justify-content: center;
    }

    .social-icons {
        background-size: cover;
    }

    .golf-club,
    .clonalis-house,
    .walking-trails,
    .swimming-pool {
        margin-top: -2%;
        margin-left: 0.5%
    }

    .info-1,
    .info-2,
    .info-3,
    .info-4 {
        font-size: 2.5em;
        align-items: center;
        margin-left: 1%;
        margin-bottom: 1%;
    }

    /***************** GALLERY PAGE ***************/
    #pictures {
        column-count: 4;
    }

    .lights-img {
        height: 21.9% !important;
    }

    .above-img {
        height: 18.7% !important;
    }

    .drone-img {
        height: 14.4% !important;
    }

    .trail-img {
        height: 26.7% !important;
    }


    /***************** CONTACT PAGE ***************/
    #submit {
        padding: 0% 3% 0% 3%;
    }

    .box-form {
        left: 35%;
        top: 35%;
    }


    /******************************* FORM SUBMIT PAGE *************************************/
    .submit-text {
        font-size: 2.5em;
    }

    .thanks-img {
        margin-top: 1%;
    }

    /****************** 404 ERROR PAGE *****************/
    .error-text {
        left: 25%;
        top: 25%;
    }
}

/*********************************************** DESKTOP BREAKPOINT ***************************************************************/
@media only screen and (min-width: 1600px) {

    /***************** HOME PAGE ***************/
    .image-text {
        left: 88%;
        top: 57%;
        position: absolute;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    .nav {
        display: flex;
        justify-content: center;
    }

    .golf-club,
    .clonalis-house,
    .walking-trails,
    .swimming-pool {
        margin-top: -2%;
        margin-left: 0.5%
    }

    .info-1,
    .info-2,
    .info-3,
    .info-4 {
        font-size: 2.5em;
        align-items: center;
        margin-left: 1%;
        margin-bottom: 1%;
    }

    .golf-club-heading,
    .walking-trails-heading,
    .swimming-pool-heading {
        margin-left: -50%;
        font-size: 1.9em;
        margin-bottom: -5%;
    }

    .clonalis-house-heading {
        margin-left: -50%;
        font-size: 1.9em;
        margin-bottom: -8%;
    }

    .info-1 {
        margin-bottom: 10%;
    }

    .info-2 {
        margin-bottom: 7%;
    }

    .info-3 {
        margin-bottom: 9%;
    }

    .info-4 {
        margin-bottom: 5%;
    }

    /********************************** FORM SUBMISSION PAGE *****************************/
    .submit-text {
        top: 25%;
        left: -2%;
        font-size: 2.5em;
    }

    /*********************************** 404 ERROR PAGE ***********************************/
    .error-text {
        top: 16%;
        font-size: 4em;
    }
}